<h1 class="display-4 text-center"><%= @article.title %></h1>

<p class="lead text-center text-muted"><%= @article.body %></p>

<div class="text-center mb-4">
  <ul class="list-inline">
    <li class="list-inline-item">
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-success" %>
    </li>
    <li class="list-inline-item">
      <%= link_to "Destroy", article_path(@article), 
      method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </li>
  </ul>
</div>

<h2 class="mt-5 text-primary ms-4">Comments</h2> 
<%= render @article.comments %>

<h2 class="mt-4 ms-4">Add a comment:</h2>
<%= render "comments/form", article: @article %>
